---
---

@import "{{ site.theme }}";

.inner {
    max-width: 60%;
  }

  #main_content {
    background-color: white;
  }

  #main_content_wrap{
    background-color: white;
  }

  #header_wrap {
    background: linear-gradient(to right, #000000, #585858);
  }
  
  header {
    background: transparent;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  